body {
    background:radial-gradient(circle,#98cf21,#98cf216c,#fcfabcf0);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    min-height: 100vh;
    font-family: "Macondo", cursive;
  font-weight: 400;
  font-style: italic;
  
}

h1{
    text-align: center;
    color: #710150;
    text-shadow: 2px 2px rgba(245, 240, 240, 0.6);
    font-size: 58px;

}
h3{
    text-align: center;
    color: #710150;
    text-shadow: 2px 2px rgba(245, 240, 240, 0.6);
    font-size: 30px;
    font-family: "Rubik Lines", system-ui;
  font-weight: 700px;
  font-style: italic;

}

#vd{
    width: 600px
    height: 400px;
    text-align: center;
    line-height: 100px;
    position: relative;
    list-style: 0;
    padding: 5px;
    border-radius: 15px;    
    animation: blink-shadow 2s infinite alternate;
}
video {
    display: block;
    border-radius: 15px;
    max-width: 100vw; 
    /* box-shadow: 2 10 30px rgb(17, 17, 160); */
}
@keyframes blink-shadow {
  from {
    box-shadow: 0 0 5px #710150, 0 0 10px #71014f93;
  }
  to {
    box-shadow: 0 0 20px #710150, 0 0 40px #71014f93;
  }
}
#botton{
    color: #98cf21;
    font-family: "Macondo", cursive;
    font-size: bold;
    align-items: end;
    background:linear-gradient(#710150,#71014f93);
    border-radius: 10px;
    border-color: #71014f93;
    margin-left: 60px;
    margin-top: 10px;
    cursor: pointer;
}
#botton:hover{
  background-color: #e515f0;
  color: rgb(251, 246, 95);
}
    